/*Friendlist.css*/

.FONT{
    font-size: 40px;
    color:white;
    background-image: url(https://www.bungie.net/img/theme/bungienet/bgs/bg_error_sweeperbot.jpg);
    background-repeat: no-repeat;
    background-size: auto
}
